In [1]:
import pandas as pd

In [2]:
user_items = pd.read_csv('Datasets/users_items.csv')

In [3]:
games = pd.read_csv('Datasets/games_genres.csv')

In [4]:
user_items

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...
5153204,76561198329548331,346330,BrainBread 2,0,0
5153205,76561198329548331,373330,All Is Dust,0,0
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3,3
5153207,76561198329548331,521570,You Have 10 Seconds 2,4,4
5153208,76561198329548331,519140,Minds Eyes,3,3

In [5]:
user_items.drop(['item_id', 'playtime_2weeks'], axis= 1, inplace= True)

In [6]:
user_items

                   user_id                      item_name  playtime_forever
0        76561197970982479                 Counter-Strike                 6
1        76561197970982479          Team Fortress Classic                 0
2        76561197970982479                  Day of Defeat                 7
3        76561197970982479             Deathmatch Classic                 0
4        76561197970982479      Half-Life: Opposing Force                 0
...                    ...                            ...               ...
5153204  76561198329548331                   BrainBread 2                 0
5153205  76561198329548331                    All Is Dust                 0
5153206  76561198329548331  One Way To Die: Steam Edition                 3
5153207  76561198329548331          You Have 10 Seconds 2                 4
5153208  76561198329548331                     Minds Eyes                 3

[5153209 rows x 3 columns]

In [7]:
games

,title,1980s,1990's,2D,2D Fighter,360 Video,3D Platformer,3D Vision,4 Player Local,6DOF,...,War,Wargame,Web Publishing,Werewolves,Western,World War I,World War II,Zombies,e-sports,year
0,Lost Summoner Kitty,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
1,Ironbound,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
2,Real Pool 3D - Poolians,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2017.0
3,弹炸人2222,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2017.0
4,Log Challenge,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32210,Colony On Mars,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
32211,LOGistICAL: South Africa,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
32212,Russian Roads,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
32213,EXIT 2 - Directions,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2017.0
32214,Maze Run VR,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [8]:
df = pd.merge(games, user_items, left_on= 'title', right_on= 'item_name')

In [9]:
df

,title,1980s,1990's,2D,2D Fighter,360 Video,3D Platformer,3D Vision,4 Player Local,6DOF,...,Werewolves,Western,World War I,World War II,Zombies,e-sports,year,user_id,item_name,playtime_forever
0,Carmageddon Max Pack,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1997.0,UTNerd24,Carmageddon Max Pack,5
1,Carmageddon Max Pack,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1997.0,I_DID_911_JUST_SAYING,Carmageddon Max Pack,0
2,Carmageddon Max Pack,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1997.0,76561197962104795,Carmageddon Max Pack,0
3,Carmageddon Max Pack,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1997.0,r3ap3r78,Carmageddon Max Pack,0
4,Carmageddon Max Pack,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1997.0,saint556,Carmageddon Max Pack,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3269600,Counter-Strike: Condition Zero,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2004.0,76561198273508956,Counter-Strike: Condition Zero,0
3269601,Counter-Strike: Condition Zero,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2004.0,76561198282090798,Counter-Strike: Condition Zero,0
3269602,Counter-Strike: Condition Zero,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2004.0,943525,Counter-Strike: Condition Zero,0
3269603,Counter-Strike: Condition Zero,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2004.0,76561198283312749,Counter-Strike: Condition Zero,9
3269604,Counter-Strike: Condition Zero,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2004.0,76561198312638244,Counter-Strike: Condition Zero,99

In [10]:
df.drop(['title', 'item_name'], axis = 1, inplace= True)

In [11]:
df

,1980s,1990's,2D,2D Fighter,360 Video,3D Platformer,3D Vision,4 Player Local,6DOF,Abstract,...,Web Publishing,Werewolves,Western,World War I,World War II,Zombies,e-sports,year,user_id,playtime_forever
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1997.0,UTNerd24,5
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1997.0,I_DID_911_JUST_SAYING,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1997.0,76561197962104795,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1997.0,r3ap3r78,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1997.0,saint556,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3269600,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2004.0,76561198273508956,0
3269601,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2004.0,76561198282090798,0
3269602,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2004.0,943525,0
3269603,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2004.0,76561198283312749,9
3269604,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2004.0,76561198312638244,99

In [12]:
columnas_para_excluir = ['year', 'user_id', 'playtime_forever']
columnas_para_sumar = df.columns.difference(columnas_para_excluir)

df_summed = df.groupby(columnas_para_excluir)[columnas_para_sumar].sum().reset_index()

In [13]:
df_summed

,year,user_id,playtime_forever,1980s,1990's,2D,2D Fighter,360 Video,3D Platformer,3D Vision,...,Walking Simulator,War,Wargame,Web Publishing,Werewolves,Western,World War I,World War II,Zombies,e-sports
0,1983.0,2Ta4,18,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1983.0,76561197960324641,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1983.0,76561197966936422,331,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1983.0,76561197968887720,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1983.0,76561197969020980,98,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450453,2018.0,xerector,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2450454,2018.0,xinyo,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2450455,2018.0,xmatiias,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2450456,2018.0,yes12429,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2450457,2018.0,yukiist,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_summed['most_played_genre'] = df_summed[columnas_para_sumar].idxmax(axis=1)

In [15]:
df_user_games = df_summed[['year', 'user_id', 'playtime_forever', 'most_played_genre']]

In [16]:
df_user_games

           year            user_id  playtime_forever most_played_genre
0        1983.0               2Ta4                18            Action
1        1983.0  76561197960324641                 0            Action
2        1983.0  76561197966936422               331            Action
3        1983.0  76561197968887720                 1            Action
4        1983.0  76561197969020980                98            Action
...         ...                ...               ...               ...
2450453  2018.0           xerector                 0      Early Access
2450454  2018.0              xinyo                 0      Early Access
2450455  2018.0           xmatiias                 0      Early Access
2450456  2018.0           yes12429                 0      Early Access
2450457  2018.0            yukiist                 0      Early Access

[2450458 rows x 4 columns]

In [17]:
df_user_games = df_user_games[df_user_games['playtime_forever'] != 0]

In [18]:
df_user_games[(df_user_games['user_id'] == 'REBAS_AS_F-T') & (df_user_games['most_played_genre'] == 'Adventure')]

           year       user_id  playtime_forever most_played_genre
403932   2008.0  REBAS_AS_F-T              1241         Adventure
504145   2009.0  REBAS_AS_F-T              2146         Adventure
504150   2009.0  REBAS_AS_F-T              6692         Adventure
504151   2009.0  REBAS_AS_F-T              7255         Adventure
629217   2010.0  REBAS_AS_F-T               463         Adventure
...         ...           ...               ...               ...
2289387  2016.0  REBAS_AS_F-T             31006         Adventure
2289388  2016.0  REBAS_AS_F-T             31630         Adventure
2415659  2017.0  REBAS_AS_F-T              2262         Adventure
2415660  2017.0  REBAS_AS_F-T              7928         Adventure
2415662  2017.0  REBAS_AS_F-T             21137         Adventure

[222 rows x 4 columns]

In [19]:
def UserForGenre(genero):
    filtered_df = df_user_games[df_user_games['most_played_genre'] == genero]
    if len(filtered_df) >= 1:
        user_hours = filtered_df.groupby('user_id')['playtime_forever'].sum().reset_index()
        most_played_user = user_hours.loc[user_hours['playtime_forever'].idxmax(), 'user_id']
        
        horas_jugadas = []
        for year in filtered_df['year'].unique():
            playtime = filtered_df[(filtered_df['user_id'] == most_played_user) & (filtered_df['year'] == year)]['playtime_forever'].sum()
            if playtime > 0:
                hora_por_ano = {'Año': int(year), 'Horas': int(playtime)}
                horas_jugadas.append(hora_por_ano)

        return f'Usuário com mais horas jogadas para {genero}: {most_played_user}, Horas jogadas: {horas_jugadas}'
    else:
        return 'Gênero incorreto. Por favor, tente novamente.'

In [20]:
UserForGenre('Action')

"Usuário com mais horas jogadas para Action: shinomegami, Horas jogadas: [{'Año': 1988, 'Horas': 136}, {'Año': 1995, 'Horas': 2}, {'Año': 1996, 'Horas': 1161}, {'Año': 1997, 'Horas': 99}, {'Año': 1998, 'Horas': 3716}, {'Año': 1999, 'Horas': 302}, {'Año': 2000, 'Horas': 10775}, {'Año': 2001, 'Horas': 2429}, {'Año': 2003, 'Horas': 532756}, {'Año': 2004, 'Horas': 120}, {'Año': 2005, 'Horas': 343}, {'Año': 2006, 'Horas': 2043}, {'Año': 2007, 'Horas': 68354}, {'Año': 2008, 'Horas': 180}, {'Año': 2009, 'Horas': 209805}, {'Año': 2010, 'Horas': 9405}, {'Año': 2011, 'Horas': 89230}, {'Año': 2012, 'Horas': 17913}, {'Año': 2013, 'Horas': 147123}, {'Año': 2014, 'Horas': 88193}, {'Año': 2015, 'Horas': 101777}, {'Año': 2016, 'Horas': 42802}, {'Año': 2017, 'Horas': 136}]"

In [23]:
df_user_games.to_csv('Datasets/UserForGenre.csv', index=False)