In [1]:
import pandas as pd

Importo los datasets que tengo que usar y hago un EDA simple

In [2]:
user_items = pd.read_csv('users_items.csv')

In [3]:
games = pd.read_csv('games_genres.csv')

In [4]:
user_items

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...
5153204,76561198329548331,346330,BrainBread 2,0,0
5153205,76561198329548331,373330,All Is Dust,0,0
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3,3
5153207,76561198329548331,521570,You Have 10 Seconds 2,4,4
5153208,76561198329548331,519140,Minds Eyes,3,3

In [5]:
user_items.drop(['item_id', 'playtime_2weeks'], axis= 1, inplace= True)

In [6]:
user_items

                   user_id                      item_name  playtime_forever
0        76561197970982479                 Counter-Strike                 6
1        76561197970982479          Team Fortress Classic                 0
2        76561197970982479                  Day of Defeat                 7
3        76561197970982479             Deathmatch Classic                 0
4        76561197970982479      Half-Life: Opposing Force                 0
...                    ...                            ...               ...
5153204  76561198329548331                   BrainBread 2                 0
5153205  76561198329548331                    All Is Dust                 0
5153206  76561198329548331  One Way To Die: Steam Edition                 3
5153207  76561198329548331          You Have 10 Seconds 2                 4
5153208  76561198329548331                     Minds Eyes                 3

[5153209 rows x 3 columns]

In [7]:
Q1 = user_items['playtime_forever'].quantile(0.25)
Q3 = user_items['playtime_forever'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = user_items[(user_items['playtime_forever'] < lower_bound) | (user_items['playtime_forever'] > upper_bound)]

outliers

,user_id,item_name,playtime_forever
8,76561197970982479,Day of Defeat: Source,4733
9,76561197970982479,Counter-Strike: Source,1853
16,76561197970982479,Deus Ex: Game of the Year Edition,2685
29,76561197970982479,Call of Duty 4: Modern Warfare,1185
40,76561197970982479,Company of Heroes,1061
...,...,...,...
5152641,76561198312638244,DOOM,1178
5152651,76561198313357718,Counter-Strike: Global Offensive,2317
5152652,POMFP0MF,Counter-Strike: Global Offensive,2987
5152671,76561198319916652,NBA 2K16,1533
5153000,ArkPlays7,Counter-Strike: Global Offensive,4557

In [8]:
user_items = user_items[(user_items['playtime_forever'] >= lower_bound) & (user_items['playtime_forever'] <= upper_bound)]

In [9]:
user_items

                   user_id                      item_name  playtime_forever
0        76561197970982479                 Counter-Strike                 6
1        76561197970982479          Team Fortress Classic                 0
2        76561197970982479                  Day of Defeat                 7
3        76561197970982479             Deathmatch Classic                 0
4        76561197970982479      Half-Life: Opposing Force                 0
...                    ...                            ...               ...
5153204  76561198329548331                   BrainBread 2                 0
5153205  76561198329548331                    All Is Dust                 0
5153206  76561198329548331  One Way To Die: Steam Edition                 3
5153207  76561198329548331          You Have 10 Seconds 2                 4
5153208  76561198329548331                     Minds Eyes                 3

[4380054 rows x 3 columns]

In [10]:
games

,title,1980s,1990's,2D,360 Video,3D Vision,Accounting,Action,Action-Adventure,Adventure,...,Walking Simulator,War,Web Publishing,Werewolves,Western,World War I,World War II,Zombies,e-sports,year
0,Ironbound,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
1,弹炸人2222,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,2017.0
2,Battle Royale Trainer,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,2018.0
3,SNOW - All Access Basic Pass,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
4,SNOW - All Access Pro Pass,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27596,Kebab it Up!,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,2018.0
27597,Colony On Mars,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
27598,LOGistICAL: South Africa,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
27599,Russian Roads,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2018.0
27600,EXIT 2 - Directions,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2017.0

Junto ambos datasets

In [11]:
df = pd.merge(games, user_items, left_on= 'title', right_on= 'item_name')

In [12]:
df

,title,1980s,1990's,2D,360 Video,3D Vision,Accounting,Action,Action-Adventure,Adventure,...,Werewolves,Western,World War I,World War II,Zombies,e-sports,year,user_id,item_name,playtime_forever
0,Carmageddon Max Pack,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1997.0,UTNerd24,Carmageddon Max Pack,5
1,Carmageddon Max Pack,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1997.0,I_DID_911_JUST_SAYING,Carmageddon Max Pack,0
2,Carmageddon Max Pack,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1997.0,76561197962104795,Carmageddon Max Pack,0
3,Carmageddon Max Pack,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1997.0,r3ap3r78,Carmageddon Max Pack,0
4,Carmageddon Max Pack,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1997.0,saint556,Carmageddon Max Pack,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2448006,Counter-Strike: Condition Zero,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,2004.0,76561198273508956,Counter-Strike: Condition Zero,0
2448007,Counter-Strike: Condition Zero,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,2004.0,76561198282090798,Counter-Strike: Condition Zero,0
2448008,Counter-Strike: Condition Zero,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,2004.0,943525,Counter-Strike: Condition Zero,0
2448009,Counter-Strike: Condition Zero,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,2004.0,76561198283312749,Counter-Strike: Condition Zero,9
2448010,Counter-Strike: Condition Zero,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,2004.0,76561198312638244,Counter-Strike: Condition Zero,99

Elimino columnas que no son necesarias

In [13]:
df.drop(['title', 'item_name'], axis = 1, inplace= True)

In [14]:
df

,1980s,1990's,2D,360 Video,3D Vision,Accounting,Action,Action-Adventure,Adventure,Aliens,...,Web Publishing,Werewolves,Western,World War I,World War II,Zombies,e-sports,year,user_id,playtime_forever
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1997.0,UTNerd24,5
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1997.0,I_DID_911_JUST_SAYING,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1997.0,76561197962104795,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1997.0,r3ap3r78,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1997.0,saint556,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2448006,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2004.0,76561198273508956,0
2448007,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2004.0,76561198282090798,0
2448008,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2004.0,943525,0
2448009,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2004.0,76561198283312749,9
2448010,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2004.0,76561198312638244,99

Agrupo y sumo los dummies

In [15]:
columnas_para_excluir = ['year', 'user_id', 'playtime_forever']
columnas_para_sumar = df.columns.difference(columnas_para_excluir)

df_summed = df.groupby(columnas_para_excluir)[columnas_para_sumar].sum().reset_index()

In [16]:
df_summed

,year,user_id,playtime_forever,1980s,1990's,2D,360 Video,3D Vision,Accounting,Action,...,Visual Novel,Walking Simulator,War,Web Publishing,Werewolves,Western,World War I,World War II,Zombies,e-sports
0,1983.0,2Ta4,18,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1983.0,76561197960324641,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1983.0,76561197966936422,331,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1983.0,76561197968887720,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1983.0,76561197969020980,98,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1771547,2018.0,xerector,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1771548,2018.0,xinyo,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1771549,2018.0,xmatiias,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1771550,2018.0,yes12429,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1771551,2018.0,yukiist,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Creo una nueva columna con el Genero más jugado de cada jugador

In [17]:
df_summed['most_played_genre'] = df_summed[columnas_para_sumar].idxmax(axis=1)

En un nuevo dataframe guardo las columnas necesarias

In [18]:
df_user_games = df_summed[['year', 'user_id', 'playtime_forever', 'most_played_genre']]

In [19]:
df_user_games

           year            user_id  playtime_forever most_played_genre
0        1983.0               2Ta4                18            Action
1        1983.0  76561197960324641                 0            Action
2        1983.0  76561197966936422               331            Action
3        1983.0  76561197968887720                 1            Action
4        1983.0  76561197969020980                98            Action
...         ...                ...               ...               ...
1771547  2018.0           xerector                 0      Early Access
1771548  2018.0              xinyo                 0      Early Access
1771549  2018.0           xmatiias                 0      Early Access
1771550  2018.0           yes12429                 0      Early Access
1771551  2018.0            yukiist                 0      Early Access

[1771552 rows x 4 columns]

Testeo la logica antes de definir la función

In [20]:
df_user_games = df_user_games[df_user_games['playtime_forever'] != 0]

In [21]:
df_user_games[(df_user_games['user_id'] == 'REBAS_AS_F-T') & (df_user_games['most_played_genre'] == 'Adventure')]

           year       user_id  playtime_forever most_played_genre
514803   2010.0  REBAS_AS_F-T               463         Adventure
659877   2011.0  REBAS_AS_F-T                15         Adventure
659882   2011.0  REBAS_AS_F-T                54         Adventure
659884   2011.0  REBAS_AS_F-T                84         Adventure
659891   2011.0  REBAS_AS_F-T               457         Adventure
860948   2012.0  REBAS_AS_F-T                 3         Adventure
860962   2012.0  REBAS_AS_F-T               716         Adventure
860965   2012.0  REBAS_AS_F-T               820         Adventure
860966   2012.0  REBAS_AS_F-T               858         Adventure
1101267  2013.0  REBAS_AS_F-T               333         Adventure
1101269  2013.0  REBAS_AS_F-T               365         Adventure
1101271  2013.0  REBAS_AS_F-T               372         Adventure
1359689  2014.0  REBAS_AS_F-T               122         Adventure
1359698  2014.0  REBAS_AS_F-T               242         Adventure
1359701  2014.0  REBAS_AS_F-T               352         Adventure
1359702  2014.0  REBAS_AS_F-T               373         Adventure
1359708  2014.0  REBAS_AS_F-T               618         Adventure
1359709  2014.0  REBAS_AS_F-T               624         Adventure
1359712  2014.0  REBAS_AS_F-T               701         Adventure
1359714  2014.0  REBAS_AS_F-T               720         Adventure
1359720  2014.0  REBAS_AS_F-T               869         Adventure
1578621  2015.0  REBAS_AS_F-T                 6         Adventure
1578624  2015.0  REBAS_AS_F-T                 9         Adventure
1578633  2015.0  REBAS_AS_F-T                53         Adventure
1578641  2015.0  REBAS_AS_F-T               230         Adventure
1578642  2015.0  REBAS_AS_F-T               233         Adventure
1578643  2015.0  REBAS_AS_F-T               238         Adventure
1578645  2015.0  REBAS_AS_F-T               272         Adventure
1578646  2015.0  REBAS_AS_F-T               306         Adventure
1578647  2015.0  REBAS_AS_F-T               308         Adventure
1578650  2015.0  REBAS_AS_F-T               351         Adventure
1578656  2015.0  REBAS_AS_F-T               467         Adventure
1578661  2015.0  REBAS_AS_F-T               518         Adventure
1578663  2015.0  REBAS_AS_F-T               564         Adventure
1578664  2015.0  REBAS_AS_F-T               573         Adventure
1578677  2015.0  REBAS_AS_F-T               824         Adventure
1707780  2016.0  REBAS_AS_F-T               226         Adventure
1707792  2016.0  REBAS_AS_F-T               747         Adventure
1707793  2016.0  REBAS_AS_F-T               812         Adventure

# Defino la función UserForGenre

En la primera línea, defino la función UserForGenre que toma un parámetro llamado genero.

En la segunda línea, creo una variable llamada filtro que contiene un subconjunto de datos filtrados del DataFrame df_user_games. Utilizo la columna 'most_played_genre' para filtrar los registros que coinciden con el género especificado.

En la tercera línea, verifico si la longitud de filtro es mayor o igual a 1. Esto me permite comprobar si se encontraron registros que coinciden con el género especificado.

Si la longitud de filtro es mayor o igual a 1, significa que se encontraron registros que coinciden con el género especificado.

En la cuarta línea, calculo la suma de las horas jugadas por cada usuario agrupando por su ID. Esto lo guardo en la variable user_playtime.

En la quinta línea, encuentro el usuario con más horas jugadas utilizando el índice con el valor máximo en la columna 'playtime_forever' de user_playtime. Guardo el ID del usuario en la variable most_played_user.

En la sexta línea, creo una lista vacía llamada horas_jugadas para almacenar las horas jugadas por el usuario en cada año.

En la séptima línea, itero sobre los años únicos en el DataFrame filtrado filtro.

En la octava línea, calculo la suma de las horas jugadas por el usuario en el año específico utilizando las condiciones de filtrado. Guardo este valor en la variable playtime.

En la novena línea, verifico si la suma de las horas jugadas es mayor a cero.

En la décima línea, creo un diccionario llamado hora_por_ano que contiene el año como clave y las horas jugadas como valor. Convierto el año y las horas jugadas a enteros antes de agregarlos al diccionario.

En la undécima línea, agrego el diccionario hora_por_ano a la lista horas_jugadas.

En la duodécima línea, retorno una cadena de texto formateada que muestra el usuario con más horas jugadas para el género especificado, junto con la lista de horas jugadas en cada año.

Si la longitud de filtro no es mayor o igual a 1, significa que no se encontraron registros que coincidan con el género especificado. En este caso, retorno un mensaje indicando que el género es incorrecto y se debe intentar nuevamente.

In [22]:
def UserForGenre(genero):
    filtro = df_user_games[df_user_games['most_played_genre'] == genero]
    if len(filtro) >= 1:
        user_playtime = filtro.groupby('user_id')['playtime_forever'].sum().reset_index()
        most_played_user = user_playtime.loc[user_playtime['playtime_forever'].idxmax(), 'user_id']
        
        horas_jugadas = []
        for year in filtro['year'].unique():
            playtime = filtro[(filtro['user_id'] == most_played_user) & (filtro['year'] == year)]['playtime_forever'].sum()
            if playtime > 0:
                hora_por_ano = {'Año': int(year), 'Horas': int(playtime)}
                horas_jugadas.append(hora_por_ano)

        return {f'Usuário com mais horas jogadas para {genero}: {most_played_user} , Horas jogadas: {horas_jugadas}'}
    else:
        return {'No sé encontró el Género'}

In [23]:
UserForGenre('Action')

{"Usuário com mais horas jogadas para Action: thugnificent , Horas jogadas: [{'Año': 1988, 'Horas': 95}, {'Año': 1991, 'Horas': 209}, {'Año': 1993, 'Horas': 440}, {'Año': 1995, 'Horas': 589}, {'Año': 1996, 'Horas': 409}, {'Año': 1997, 'Horas': 451}, {'Año': 1998, 'Horas': 215}, {'Año': 1999, 'Horas': 318}, {'Año': 2000, 'Horas': 49}, {'Año': 2001, 'Horas': 260}, {'Año': 2002, 'Horas': 261}, {'Año': 2003, 'Horas': 834}, {'Año': 2004, 'Horas': 762}, {'Año': 2005, 'Horas': 1006}, {'Año': 2006, 'Horas': 1916}, {'Año': 2007, 'Horas': 299}, {'Año': 2008, 'Horas': 653}, {'Año': 2009, 'Horas': 2093}, {'Año': 2010, 'Horas': 3838}, {'Año': 2011, 'Horas': 7933}, {'Año': 2012, 'Horas': 13070}, {'Año': 2013, 'Horas': 18806}, {'Año': 2014, 'Horas': 29144}, {'Año': 2015, 'Horas': 35593}, {'Año': 2016, 'Horas': 35544}, {'Año': 2017, 'Horas': 2920}, {'Año': 2018, 'Horas': 342}]"}

In [24]:
df_user_games.to_csv('UserForGenre.csv', index=False)

In [25]:
import pyarrow

In [26]:
df_user_games.to_parquet('UserForGenre.parquet', index=False)