In [1]:
import pandas as pd

Importo los datasests y hago EDA antes de juntarlas con metodo .merge() en un unico DataFrame

In [2]:
sentiment = pd.read_csv('Datasets/sentiment_analysis_reviews.csv')

In [3]:
user_rev = pd.read_csv('Datasets/user_reviews.csv')

In [4]:
sentiment

,review,polaridad,sentimiento,significado,user_id,item_id
0,Simple yet with great replayability. In my opi...,0.174444,2,Positivo,76561197970982479,1250.0
1,It's unique and worth a playthrough.,0.337500,2,Positivo,76561197970982479,22200.0
2,Great atmosphere. The gunplay can be a bit chu...,0.050000,2,Positivo,76561197970982479,43110.0
3,I know what you think when you see this title ...,0.114583,2,Positivo,js41637,251610.0
4,For a simple (it's actually not all that simpl...,-0.036111,0,Negativo,js41637,227300.0
...,...,...,...,...,...,...
59328,a must have classic from steam definitely wort...,0.233333,2,Positivo,76561198312638244,70.0
59329,this game is a perfect remake of the original ...,0.142500,2,Positivo,76561198312638244,362890.0
59330,had so much fun plaing this and collecting res...,0.087500,2,Positivo,LydiaMorley,273110.0
59331,:D,1.000000,2,Positivo,LydiaMorley,730.0
59332,so much fun :D,0.650000,2,Positivo,LydiaMorley,440.0

In [5]:
sentiment.drop('user_id', axis = 1 ,inplace= True)

In [6]:
user_rev = user_rev[['recommend','review']]

In [7]:
user_rev

      recommend                                             review
0          True  Simple yet with great replayability. In my opi...
1          True               It's unique and worth a playthrough.
2          True  Great atmosphere. The gunplay can be a bit chu...
3          True  I know what you think when you see this title ...
4          True  For a simple (it's actually not all that simpl...
...         ...                                                ...
59328      True  a must have classic from steam definitely wort...
59329      True  this game is a perfect remake of the original ...
59330      True  had so much fun plaing this and collecting res...
59331      True                                                 :D
59332      True                                     so much fun :D

[59333 rows x 2 columns]

In [8]:
reviews = pd.merge(user_rev, sentiment, on= 'review')

In [9]:
reviews

,recommend,review,polaridad,sentimiento,significado,item_id
0,True,Simple yet with great replayability. In my opi...,0.174444,2,Positivo,1250.0
1,True,It's unique and worth a playthrough.,0.337500,2,Positivo,22200.0
2,True,Great atmosphere. The gunplay can be a bit chu...,0.050000,2,Positivo,43110.0
3,True,I know what you think when you see this title ...,0.114583,2,Positivo,251610.0
4,True,For a simple (it's actually not all that simpl...,-0.036111,0,Negativo,227300.0
...,...,...,...,...,...,...
139342,True,:D,1.000000,2,Positivo,570.0
139343,True,:D,1.000000,2,Positivo,440.0
139344,True,:D,1.000000,2,Positivo,225080.0
139345,True,:D,1.000000,2,Positivo,730.0
139346,True,so much fun :D,0.650000,2,Positivo,440.0

Importo el datasets users_items y hago EDA, manteniendo solamente las columnas 'item_id' y 'item_name'

In [10]:
games = pd.read_csv('Datasets/users_items.csv')

In [11]:
games = games[['item_id', 'item_name']]

In [12]:
games.drop_duplicates(inplace=True)

In [13]:
games

         item_id                                     item_name
0             10                                Counter-Strike
1             20                         Team Fortress Classic
2             30                                 Day of Defeat
3             40                            Deathmatch Classic
4             50                     Half-Life: Opposing Force
...          ...                                           ...
4913278   375450  NOBUNAGA'S AMBITION: Souzou SengokuRisshiden
5092969   353390                       Alienware Steam Machine
5105048   354280                                    ChaosTower
5119454   433920                 Aveyond 4: Shadow Of The Mist
5145725   485270                                 Arachnophobia

[10978 rows x 2 columns]

Junto este dataframe con en creado anteriormente

In [14]:
reviews = pd.merge(reviews, games, how = 'left')

In [15]:
reviews

,recommend,review,polaridad,sentimiento,significado,item_id,item_name
0,True,Simple yet with great replayability. In my opi...,0.174444,2,Positivo,1250.0,Killing Floor
1,True,It's unique and worth a playthrough.,0.337500,2,Positivo,22200.0,Zeno Clash
2,True,Great atmosphere. The gunplay can be a bit chu...,0.050000,2,Positivo,43110.0,Metro 2033
3,True,I know what you think when you see this title ...,0.114583,2,Positivo,251610.0,Barbieâ„¢ Dreamhouse Partyâ„¢
4,True,For a simple (it's actually not all that simpl...,-0.036111,0,Negativo,227300.0,Euro Truck Simulator 2
...,...,...,...,...,...,...,...
139342,True,:D,1.000000,2,Positivo,570.0,NaN
139343,True,:D,1.000000,2,Positivo,440.0,NaN
139344,True,:D,1.000000,2,Positivo,225080.0,Brothers - A Tale of Two Sons
139345,True,:D,1.000000,2,Positivo,730.0,Counter-Strike: Global Offensive
139346,True,so much fun :D,0.650000,2,Positivo,440.0,NaN

Importo el dataset games_genres, manteniendo solamente las columnas 'title' e 'year'. Lo junto con el DataFrame anterior

In [16]:
years = pd.read_csv('Datasets/games_genres.csv')

In [17]:
years = years[['title', 'year']]

In [18]:
years

                          title    year
0           Lost Summoner Kitty  2018.0
1                     Ironbound  2018.0
2       Real Pool 3D - Poolians  2017.0
3                       å¼¹ç‚¸äºº2222  2017.0
4                 Log Challenge     NaN
...                         ...     ...
32210            Colony On Mars  2018.0
32211  LOGistICAL: South Africa  2018.0
32212             Russian Roads  2018.0
32213       EXIT 2 - Directions  2017.0
32214               Maze Run VR     NaN

[32215 rows x 2 columns]

In [19]:
reviews = pd.merge(reviews, years, left_on= 'item_name', right_on= 'title')

In [20]:
reviews

,recommend,review,polaridad,sentimiento,significado,item_id,item_name,title,year
0,True,Simple yet with great replayability. In my opi...,0.174444,2,Positivo,1250.0,Killing Floor,Killing Floor,2009.0
1,True,It's unique and worth a playthrough.,0.337500,2,Positivo,22200.0,Zeno Clash,Zeno Clash,2009.0
2,True,For a simple (it's actually not all that simpl...,-0.036111,0,Negativo,227300.0,Euro Truck Simulator 2,Euro Truck Simulator 2,2013.0
3,True,Very fun little game to play when your bored o...,-0.099500,0,Negativo,239030.0,"Papers, Please","Papers, Please",2013.0
4,True,A suitably punishing roguelike platformer. Wi...,0.231548,2,Positivo,248820.0,Risk of Rain,Risk of Rain,2013.0
...,...,...,...,...,...,...,...,...,...
179377,True,:D,1.000000,2,Positivo,730.0,Counter-Strike: Global Offensive,Counter-Strike: Global Offensive,2012.0
179378,True,so much fun :D,0.650000,2,Positivo,440.0,NaN,NaN,NaN
179379,True,so much fun :D,0.650000,2,Positivo,440.0,NaN,NaN,2014.0
179380,True,so much fun :D,0.650000,2,Positivo,440.0,NaN,NaN,NaN
179381,True,so much fun :D,0.650000,2,Positivo,440.0,NaN,NaN,2014.0

Hago EDA en este dataframe final

In [21]:
reviews.dropna(inplace= True)

In [22]:
reviews.drop(['item_id', 'item_name'], axis = 1, inplace= True)

In [23]:
reviews.drop(['review', 'significado'], axis= 1, inplace= True)

In [24]:
reviews

,recommend,polaridad,sentimiento,title,year
0,True,0.174444,2,Killing Floor,2009.0
1,True,0.337500,2,Zeno Clash,2009.0
2,True,-0.036111,0,Euro Truck Simulator 2,2013.0
3,True,-0.099500,0,"Papers, Please",2013.0
4,True,0.231548,2,Risk of Rain,2013.0
...,...,...,...,...,...
179361,True,1.000000,2,Counter-Strike,2000.0
179362,True,1.000000,2,Counter-Strike: Global Offensive,2012.0
179367,True,1.000000,2,Unturned,2017.0
179376,True,1.000000,2,Brothers - A Tale of Two Sons,2013.0
179377,True,1.000000,2,Counter-Strike: Global Offensive,2012.0

Agrupo haciendo una media en la columna 'polaridad'

In [25]:
reviews_gb = pd.DataFrame(reviews.groupby(['title', 'year','recommend'], as_index=False)['polaridad'].mean())

In [26]:
reviews_gb

,title,year,recommend,polaridad
0,! That Bastard Is Trying To Steal Our Gold !,2016.0,False,0.000000
1,! That Bastard Is Trying To Steal Our Gold !,2016.0,True,0.000000
2,0RBITALIS,2015.0,True,0.087500
3,"10,000,000",2013.0,True,0.050000
4,100% Orange Juice,2013.0,False,-0.232500
...,...,...,...,...
3050,sZone-Online,2015.0,True,0.228051
3051,the static speaks my name,2015.0,False,0.041538
3052,the static speaks my name,2015.0,True,-0.047787
3053,theHunter: Primal,2015.0,False,-0.128249
3054,theHunter: Primal,2015.0,True,0.059910

Guardo DataFrame en archivo csv

In [27]:
reviews_gb.to_csv('Datasets/Recommend_functions.csv', index = False)

# Defino la funciÃ³n UsersRecommend

En la primera lÃ­nea, defino la funciÃ³n UsersRecommend que toma un parÃ¡metro aÃ±o de tipo entero.

En la segunda lÃ­nea, creo una variable llamada filtro que contiene un subconjunto de datos filtrados del DataFrame reviews_gb. Se seleccionan los registros donde el valor de la columna 'year' coincide con el aÃ±o especificado.

En la tercera lÃ­nea, verifico si la longitud de filtro es mayor a 1. Esto me permite comprobar si se encontraron registros para el aÃ±o especificado.

Si la longitud de filtro es mayor a 1, significa que se encontraron registros para ese aÃ±o.

En la cuarta lÃ­nea, creo una variable llamada recomend que contiene un subconjunto de datos donde se filtran solo las recomendaciones positivas (valor True) del DataFrame filtro.

En la quinta lÃ­nea, selecciono las tres mejores recomendaciones en base a la columna 'polaridad' utilizando el mÃ©todo nlargest del DataFrame recomend. Estas recomendaciones se guardan en la variable polaridad. AdemÃ¡s, se reinicia el Ã­ndice del DataFrame utilizando el parÃ¡metro drop=True.

En la sexta lÃ­nea, creo un diccionario vacÃ­o llamado resultado para almacenar los resultados de las mejores recomendaciones.

En la sÃ©ptima lÃ­nea, itero sobre los Ã­ndices y las filas del DataFrame polaridad utilizando iterrows(). El Ã­ndice i y la fila row representan cada una de las mejores recomendaciones.

En la octava lÃ­nea, obtengo el tÃ­tulo del juego de cada fila y lo guardo en la variable game.

En la novena lÃ­nea, creo una clave para el diccionario resultado que representa el puesto de la recomendaciÃ³n utilizando el Ã­ndice i y el Ã­ndice inicial de polaridad. Asigno el tÃ­tulo del juego como valor.

En la dÃ©cima lÃ­nea, retorno el diccionario resultado que contiene las mejores recomendaciones de juegos para el aÃ±o especificado.

Si la longitud de filtro no es mayor a 1, significa que no se encontraron registros para el aÃ±o especificado. En este caso, retorno un diccionario con un mensaje indicando que el aÃ±o no fue encontrado.

In [28]:
def UsersRecommend(aÃ±o: int):
    filtro = reviews_gb[reviews_gb['year'] == aÃ±o]
    if len(filtro) > 1:
        recomend = filtro[filtro['recommend'] == True]
        polaridad = recomend.nlargest(3, 'polaridad').reset_index(drop= True)
        resultado = {}
        for i, row in polaridad.iterrows():
            game = "Puesto " + str(i + 1 - polaridad.index[0])
            resultado[game] = row['title']
        
        return resultado
    else:
        return {f'AÃ±o no encuentrado!'}

In [29]:
UsersRecommend(1999)

[{'Puesto 1: Sven Co-op'},
 {'Puesto 2: Quake III Arena'},
 {'Puesto 3: Team Fortress Classic'}]

In [30]:
UsersRecommend(2019)

'AÃ±o no encuentrado!'

# Defino la funciÃ³n UsersNotRecommend

En la primera lÃ­nea, defino la funciÃ³n UsersNotRecommend que toma un parÃ¡metro aÃ±o de tipo entero.

En la segunda lÃ­nea, creo una variable llamada filtro que contiene un subconjunto de datos filtrados del DataFrame reviews_gb. Se seleccionan los registros donde el valor de la columna 'year' coincide con el aÃ±o especificado.

En la tercera lÃ­nea, verifico si la longitud de filtro es mayor a 1. Esto me permite comprobar si se encontraron registros para el aÃ±o especificado.

Si la longitud de filtro es mayor a 1, significa que se encontraron registros para ese aÃ±o.

En la cuarta lÃ­nea, creo una variable llamada recomend que contiene un subconjunto de datos donde se filtran solo las recomendaciones negativas (valor False) del DataFrame filtro.

En la quinta lÃ­nea, selecciono las tres peores recomendaciones en base a la columna 'polaridad' utilizando el mÃ©todo nsmallest del DataFrame recomend. Estas recomendaciones se guardan en la variable polaridad. AdemÃ¡s, se reinicia el Ã­ndice del DataFrame utilizando el parÃ¡metro drop=True.

En la sexta lÃ­nea, creo un diccionario vacÃ­o llamado resultado para almacenar los resultados de las peores recomendaciones.

En la sÃ©ptima lÃ­nea, itero sobre los Ã­ndices y las filas del DataFrame polaridad utilizando iterrows(). El Ã­ndice i y la fila row representan cada una de las peores recomendaciones.

En la octava lÃ­nea, obtengo el tÃ­tulo del juego de cada fila y lo guardo en la variable game.

En la novena lÃ­nea, creo una clave para el diccionario resultado que representa el puesto de la recomendaciÃ³n utilizando el Ã­ndice i y el Ã­ndice inicial de polaridad. Asigno el tÃ­tulo del juego como valor.

En la dÃ©cima lÃ­nea, retorno el diccionario resultado que contiene las peores recomendaciones de juegos para el aÃ±o especificado.

Si la longitud de filtro no es mayor a 1, significa que no se encontraron registros para el aÃ±o especificado. En este caso, retorno un diccionario con un mensaje indicando que el aÃ±o no fue encontrado.

In [31]:
def UsersNotRecommend( aÃ±o : int ):
    filtro = reviews_gb[reviews_gb['year'] == aÃ±o]
    if len(filtro) > 1:
        recomend = filtro[filtro['recommend'] == False]
        polaridad = recomend.nsmallest(3, 'polaridad').reset_index(drop= True)
        resultado = {}
        for i, row in polaridad.iterrows():
            game = "Puesto " + str(i + 1 - polaridad.index[0])
            resultado[game] = row['title']
        
        return resultado
    else:
        return {f'AÃ±o no encuentrado!'}

In [32]:
UsersNotRecommend(1999)

[{'Puesto 1: Half-Life: Opposing Force'},
 {'Puesto 2: Sven Co-op'},
 {'Puesto 3: Worms Armageddon'}]

In [33]:
UsersNotRecommend(2019)

'AÃ±o no encuentrado!'