In [1]:
import pandas as pd

In [2]:
sentiment = pd.read_csv('Datasets/sentiment_analysis_reviews.csv')

In [11]:
sentiment.drop(['review', 'user_id'], axis= 1, inplace= True)

In [12]:
sentiment

       polaridad  sentimiento significado   item_id
0       0.174444            2    Positivo    1250.0
1       0.337500            2    Positivo   22200.0
2       0.050000            2    Positivo   43110.0
3       0.114583            2    Positivo  251610.0
4      -0.036111            0    Negativo  227300.0
...          ...          ...         ...       ...
59328   0.233333            2    Positivo      70.0
59329   0.142500            2    Positivo  362890.0
59330   0.087500            2    Positivo  273110.0
59331   1.000000            2    Positivo     730.0
59332   0.650000            2    Positivo     440.0

[59333 rows x 4 columns]

In [4]:
items = pd.read_csv('Datasets/users_items.csv')

In [7]:
items.drop(['playtime_forever', 'playtime_2weeks', 'user_id'], axis= 1, inplace= True)

In [16]:
items.drop_duplicates(inplace= True)

In [15]:
items.dropna(inplace= True)

In [17]:
items

         item_id                                     item_name
0             10                                Counter-Strike
1             20                         Team Fortress Classic
2             30                                 Day of Defeat
3             40                            Deathmatch Classic
4             50                     Half-Life: Opposing Force
...          ...                                           ...
4913278   375450  NOBUNAGA'S AMBITION: Souzou SengokuRisshiden
5092969   353390                       Alienware Steam Machine
5105048   354280                                    ChaosTower
5119454   433920                 Aveyond 4: Shadow Of The Mist
5145725   485270                                 Arachnophobia

[10978 rows x 2 columns]

In [18]:
sentiment = pd.merge(sentiment, items, how= 'left')

In [20]:
sentiment.drop('item_id', axis= 1, inplace = True)

In [22]:
sentiment

       polaridad  sentimiento significado                         item_name
0       0.174444            2    Positivo                     Killing Floor
1       0.337500            2    Positivo                        Zeno Clash
2       0.050000            2    Positivo                        Metro 2033
3       0.114583            2    Positivo         Barbie™ Dreamhouse Party™
4      -0.036111            0    Negativo            Euro Truck Simulator 2
...          ...          ...         ...                               ...
59328   0.233333            2    Positivo                         Half-Life
59329   0.142500            2    Positivo                        Black Mesa
59330   0.087500            2    Positivo     Counter-Strike Nexon: Zombies
59331   1.000000            2    Positivo  Counter-Strike: Global Offensive
59332   0.650000            2    Positivo                               NaN

[59333 rows x 4 columns]

In [23]:
years = pd.read_csv('Datasets/games_genres.csv')

In [25]:
columnas_keep = ['title', 'year']
years = years[columnas_keep]

In [26]:
years

                          title    year
0           Lost Summoner Kitty  2018.0
1                     Ironbound  2018.0
2       Real Pool 3D - Poolians  2017.0
3                       弹炸人2222  2017.0
4                 Log Challenge     NaN
...                         ...     ...
32210            Colony On Mars  2018.0
32211  LOGistICAL: South Africa  2018.0
32212             Russian Roads  2018.0
32213       EXIT 2 - Directions  2017.0
32214               Maze Run VR     NaN

[32215 rows x 2 columns]

In [28]:
sentiment = pd.merge(sentiment, years, left_on='item_name', right_on= 'title')

In [30]:
sentiment.drop(['item_name', 'title'], axis = 1, inplace = True)

In [53]:
sentiment.dropna(inplace = True)

In [88]:
sentiment

       polaridad  sentimiento significado    year
0       0.174444            2    Positivo  2009.0
1       0.337500            2    Positivo  2009.0
2      -0.036111            0    Negativo  2013.0
3      -0.099500            0    Negativo  2013.0
4       0.231548            2    Positivo  2013.0
...          ...          ...         ...     ...
65568   0.142500            2    Positivo  2015.0
65569   0.087500            2    Positivo  2014.0
65570   1.000000            2    Positivo  2012.0
65572   0.650000            2    Positivo  2014.0
65574   0.650000            2    Positivo  2014.0

[50663 rows x 4 columns]

In [89]:
sentiment.to_csv('Datasets/sentiment_analysis_function.csv', index= False)

In [81]:
def sentiment_analysis( año : int ):
    filtro = sentiment[sentiment['year']== año]
    negativo = 0
    neutro = 0
    positivo = 0
    if len(filtro) > 0:
        negativo = filtro[filtro['significado']== 'Negativo']['significado'].count()
        neutro = filtro[filtro['significado']== 'Neutro']['significado'].count()
        positivo = filtro[filtro['significado']== 'Positivo']['significado'].count()
        return {'Negativo': negativo, 'Neutral': neutro, 'Positivo': positivo}
    
    else: 
        return f'Año no encuentrado!'

In [87]:
sentiment_analysis(2013)

{'Negativo': 1466, 'Neutral': 1315, 'Positivo': 3756}

In [83]:
sentiment_analysis(1990)

'Año no encuentrado!'