In [1]:
import pandas as pd

Importo el archivo sentiment_analysis_reviews

In [19]:
sentiment = pd.read_csv('sentiment_analysis_reviews.csv')

Borro las columnas desnecesarias

In [20]:
sentiment.drop(['review', 'user_id'], axis= 1, inplace= True)

In [21]:
sentiment

       polaridad  sentimiento significado   item_id
0       0.174444            2    Positivo    1250.0
1       0.337500            2    Positivo   22200.0
2       0.050000            2    Positivo   43110.0
3       0.114583            2    Positivo  251610.0
4      -0.036111            0    Negativo  227300.0
...          ...          ...         ...       ...
59328   0.233333            2    Positivo      70.0
59329   0.142500            2    Positivo  362890.0
59330   0.087500            2    Positivo  273110.0
59331   1.000000            2    Positivo     730.0
59332   0.650000            2    Positivo     440.0

[59333 rows x 4 columns]

Importo archivo users_items y elimino columnas desnecesarias, duplicatas y valores nulos

In [23]:
items = pd.read_csv('users_items.csv')

In [24]:
items.drop(['playtime_forever', 'playtime_2weeks', 'user_id'], axis= 1, inplace= True)

In [25]:
items.drop_duplicates(inplace= True)

In [26]:
items.dropna(inplace= True)

In [27]:
items

         item_id                                     item_name
0             10                                Counter-Strike
1             20                         Team Fortress Classic
2             30                                 Day of Defeat
3             40                            Deathmatch Classic
4             50                     Half-Life: Opposing Force
...          ...                                           ...
4913278   375450  NOBUNAGA'S AMBITION: Souzou SengokuRisshiden
5092969   353390                       Alienware Steam Machine
5105048   354280                                    ChaosTower
5119454   433920                 Aveyond 4: Shadow Of The Mist
5145725   485270                                 Arachnophobia

[10978 rows x 2 columns]

Junto los dos dataframes y borro la columna 'items_id'

In [28]:
sentiment = pd.merge(sentiment, items, how= 'left')

In [29]:
sentiment.drop('item_id', axis= 1, inplace = True)

In [30]:
sentiment

       polaridad  sentimiento significado                         item_name
0       0.174444            2    Positivo                     Killing Floor
1       0.337500            2    Positivo                        Zeno Clash
2       0.050000            2    Positivo                        Metro 2033
3       0.114583            2    Positivo         Barbie™ Dreamhouse Party™
4      -0.036111            0    Negativo            Euro Truck Simulator 2
...          ...          ...         ...                               ...
59328   0.233333            2    Positivo                         Half-Life
59329   0.142500            2    Positivo                        Black Mesa
59330   0.087500            2    Positivo     Counter-Strike Nexon: Zombies
59331   1.000000            2    Positivo  Counter-Strike: Global Offensive
59332   0.650000            2    Positivo                               NaN

[59333 rows x 4 columns]

Importo el archivo games_genres y mantengo las columnas 'title' y 'year'

In [31]:
years = pd.read_csv('games_genres.csv')

In [32]:
columnas_keep = ['title', 'year']
years = years[columnas_keep]

In [33]:
years

                          title    year
0           Lost Summoner Kitty  2018.0
1                     Ironbound  2018.0
2       Real Pool 3D - Poolians  2017.0
3                       弹炸人2222  2017.0
4                 Log Challenge     NaN
...                         ...     ...
32210            Colony On Mars  2018.0
32211  LOGistICAL: South Africa  2018.0
32212             Russian Roads  2018.0
32213       EXIT 2 - Directions  2017.0
32214               Maze Run VR     NaN

[32215 rows x 2 columns]

Junto esta tabla a la anterior solamente en los valores identicos de las columnas 'item_name' y 'title'. Despues las elimino y borro valores nulos

In [34]:
sentiment = pd.merge(sentiment, years, left_on='item_name', right_on= 'title')

In [35]:
sentiment.drop(['item_name', 'title'], axis = 1, inplace = True)

In [36]:
sentiment.dropna(inplace = True)

In [37]:
sentiment

       polaridad  sentimiento significado    year
0       0.174444            2    Positivo  2009.0
1       0.337500            2    Positivo  2009.0
2      -0.036111            0    Negativo  2013.0
3      -0.099500            0    Negativo  2013.0
4       0.231548            2    Positivo  2013.0
...          ...          ...         ...     ...
65568   0.142500            2    Positivo  2015.0
65569   0.087500            2    Positivo  2014.0
65570   1.000000            2    Positivo  2012.0
65572   0.650000            2    Positivo  2014.0
65574   0.650000            2    Positivo  2014.0

[50663 rows x 4 columns]

Guardo DataFrame en archivo csv

In [ ]:
sentiment.to_csv('sentiment_analysis_function.csv', index = False)

intento definir la función pero esta no corre en la API

In [39]:
def sentiment_analysis( año : int ):
    filtro = sentiment[sentiment['year']== año]
    negativo = 0
    neutro = 0
    positivo = 0
    if len(filtro) > 0:
        negativo = filtro[filtro['significado']== 'Negativo']['significado'].count()
        neutro = filtro[filtro['significado']== 'Neutro']['significado'].count()
        positivo = filtro[filtro['significado']== 'Positivo']['significado'].count()
        return {'Negativo': negativo, 'Neutral': neutro, 'Positivo': positivo}
    
    else: 
        return f'Año no encuentrado!'

In [40]:
sentiment_analysis(2013)

{'Negativo': 1466, 'Neutral': 1315, 'Positivo': 3756}

In [41]:
sentiment_analysis(1990)

'Año no encuentrado!'

# Función no esta funcionando en la API

Importo el archivo de nuevo porque está parte fue hecha en dias diferentes

In [60]:
df_sentiment_analysis = pd.read_csv('sentiment_analysis_function.csv')

In [61]:
df_sentiment_analysis

       polaridad  sentimiento significado    year
0       0.174444            2    Positivo  2009.0
1       0.337500            2    Positivo  2009.0
2      -0.036111            0    Negativo  2013.0
3      -0.099500            0    Negativo  2013.0
4       0.231548            2    Positivo  2013.0
...          ...          ...         ...     ...
50658   0.142500            2    Positivo  2015.0
50659   0.087500            2    Positivo  2014.0
50660   1.000000            2    Positivo  2012.0
50661   0.650000            2    Positivo  2014.0
50662   0.650000            2    Positivo  2014.0

[50663 rows x 4 columns]

Agrupo las colunas 'year' y 'significado' e hago un conteo

In [62]:
df_sentiment_analysis = pd.DataFrame(df_sentiment_analysis.groupby(['year', 'significado'], as_index= False)['sentimiento'].count())

In [48]:
df_sentiment_analysis

      year significado  sentimiento
0   1989.0    Positivo            1
1   1991.0    Positivo            1
2   1992.0    Positivo            2
3   1993.0    Negativo            3
4   1993.0    Positivo            1
..     ...         ...          ...
70  2016.0      Neutro          407
71  2016.0    Positivo         1349
72  2017.0    Negativo          470
73  2017.0      Neutro          502
74  2017.0    Positivo         1167

[75 rows x 3 columns]

Uso el metodo .pivo_tabel() para que las lineas si vuelvan en colunas y normalizó para que se quede solo el esencial

In [63]:
df_sentiment_analysis = pd.pivot_table(df_sentiment_analysis, columns= ['significado'], values= 'sentimiento', index= 'year', margins= False, fill_value= 0)

In [64]:
df_sentiment_analysis

significado  Negativo  Neutro  Positivo
year
1989.0            0.0     0.0       1.0
1991.0            0.0     0.0       1.0
1992.0            0.0     0.0       2.0
1993.0            3.0     0.0       1.0
1994.0            3.0     1.0       7.0
1995.0            2.0     1.0       0.0
1996.0            2.0     0.0       3.0
1997.0            2.0     3.0      11.0
1998.0           18.0    12.0      43.0
1999.0           15.0    23.0      32.0
2000.0           17.0    32.0      48.0
2001.0            5.0     3.0      18.0
2002.0            7.0     5.0      15.0
2003.0           43.0    41.0      66.0
2004.0           94.0   128.0     296.0
2005.0           17.0    30.0      68.0
2006.0          401.0   416.0    1100.0
2007.0           48.0    44.0     125.0
2008.0           56.0    59.0     161.0
2009.0          268.0   366.0     790.0
2010.0          209.0   202.0     574.0
2011.0          576.0   624.0    1776.0
2012.0         1637.0  1706.0    4094.0
2013.0         1466.0  1315.0    3756.0
2014.0         3109.0  4631.0   10355.0
2015.0         1230.0  1107.0    2911.0
2016.0          537.0   407.0    1349.0
2017.0          470.0   502.0    1167.0

In [65]:
df_sentiment_analysis.columns.name = None

In [66]:
df_sentiment_analysis = df_sentiment_analysis.reset_index()

In [67]:
df_sentiment_analysis

      year  Negativo  Neutro  Positivo
0   1989.0       0.0     0.0       1.0
1   1991.0       0.0     0.0       1.0
2   1992.0       0.0     0.0       2.0
3   1993.0       3.0     0.0       1.0
4   1994.0       3.0     1.0       7.0
5   1995.0       2.0     1.0       0.0
6   1996.0       2.0     0.0       3.0
7   1997.0       2.0     3.0      11.0
8   1998.0      18.0    12.0      43.0
9   1999.0      15.0    23.0      32.0
10  2000.0      17.0    32.0      48.0
11  2001.0       5.0     3.0      18.0
12  2002.0       7.0     5.0      15.0
13  2003.0      43.0    41.0      66.0
14  2004.0      94.0   128.0     296.0
15  2005.0      17.0    30.0      68.0
16  2006.0     401.0   416.0    1100.0
17  2007.0      48.0    44.0     125.0
18  2008.0      56.0    59.0     161.0
19  2009.0     268.0   366.0     790.0
20  2010.0     209.0   202.0     574.0
21  2011.0     576.0   624.0    1776.0
22  2012.0    1637.0  1706.0    4094.0
23  2013.0    1466.0  1315.0    3756.0
24  2014.0    3109.0  4631.0   10355.0
25  2015.0    1230.0  1107.0    2911.0
26  2016.0     537.0   407.0    1349.0
27  2017.0     470.0   502.0    1167.0

Guardo el nuevo dataframe en un archivo csv

In [68]:
df_sentiment_analysis.to_csv('sentiment_analysis_function.csv', index= False)

# Defino la función sentiment_analysis

En la primera línea, defino una función llamada sentiment_analysis que toma un parámetro llamado year (int).

En la segunda línea, creo una variable llamada filtro que contiene un subconjunto de datos filtrados del DataFrame df_sentiment_analysis. Utilizo la columna 'year' para filtrar aquellos registros que coincidan con el año que he especificado.

En la tercera línea, verifico si la longitud de filtro es mayor que 0. Esto me permite comprobar si se encontraron registros que coinciden con el año especificado.

Si la longitud de filtro es mayor que 0, significa que se encontraron registros que coinciden con el año especificado.

En la cuarta línea, selecciono las columnas 'Negativo', 'Neutro' y 'Positivo' del DataFrame filtro y las asigno a la variable sentimientos.

En la quinta línea, utilizo el método to_dict en sentimientos para convertir los datos en un formato de diccionario. Utilizo el parámetro orient='records' para obtener un diccionario que contiene los registros como listas de pares clave-valor.

Si la longitud de filtro no es mayor que 0, significa que no se encontraron registros que coincidan con el año especificado. En este caso, retorno un diccionario que contiene un mensaje indicando que el año no fue encontrado.

In [83]:
def sentiment_analysis( year : int ):
    filtro = df_sentiment_analysis[df_sentiment_analysis['year']== year]
    
    if len(filtro) > 0:
        sentimientos = filtro[['Negativo', 'Neutro', 'Positivo']]

        return sentimientos.to_dict(orient = 'records')

    
    else: 
        return {f'Año no encuentrado!'}

In [86]:
sentiment_analysis(2019)

{'Año no encuentrado!'}