In [1]:
import pandas as pd

In [18]:
df_PlayTimeGenre = pd.read_csv('PlayTimeGenre.csv', low_memory= False)
def PlayTimeGenre( genero : str ):
    filtro = df_PlayTimeGenre[df_PlayTimeGenre['most_played_genre']== genero]
    if len(filtro)>=1:
        max_playtime = filtro['playtime_forever'].max()
        max_year = filtro.loc[filtro['playtime_forever'] == max_playtime, 'year'].values[0]
        return {'Año de lanzamiento con más horas jugadas para ' + genero: int(max_year) }
    else:
        return {'No sé encontró el Género'}

In [19]:
print(PlayTimeGenre('Action'))

{'Año de lanzamiento con más horas jugadas para Action': 2012}

In [26]:
df_UserForGenre = pd.read_csv('UserForGenre.csv', low_memory= False)
def UserForGenre(genero: str):
    filtro = df_UserForGenre[df_UserForGenre['most_played_genre'] == genero]
    if len(filtro) >= 1:
        user_playtime = filtro.groupby('user_id')['playtime_forever'].sum().reset_index()
        most_played_user = user_playtime.loc[user_playtime['playtime_forever'].idxmax(), 'user_id']
        
        horas_jugadas = []
        for year in filtro['year'].unique():
            playtime = filtro[(filtro['user_id'] == most_played_user) & (filtro['year'] == year)]['playtime_forever'].sum()
            if playtime > 0:
                hora_por_ano = {'Año': int(year), 'Horas': int(playtime)}
                horas_jugadas.append(hora_por_ano)

        return {f'Usuário com mais horas jogadas para {genero}: {most_played_user} , Horas jogadas: {horas_jugadas}'}
    else:
        return {'No sé encontró el Género'}

In [27]:
print(UserForGenre('Action'))

{"Usuário com mais horas jogadas para Action: shinomegami , Horas jogadas: [{'Año': 1988, 'Horas': 136}, {'Año': 1995, 'Horas': 2}, {'Año': 1996, 'Horas': 1161}, {'Año': 1997, 'Horas': 99}, {'Año': 1998, 'Horas': 3716}, {'Año': 1999, 'Horas': 302}, {'Año': 2000, 'Horas': 10775}, {'Año': 2001, 'Horas': 2429}, {'Año': 2003, 'Horas': 532756}, {'Año': 2004, 'Horas': 120}, {'Año': 2005, 'Horas': 343}, {'Año': 2006, 'Horas': 2043}, {'Año': 2007, 'Horas': 68354}, {'Año': 2008, 'Horas': 180}, {'Año': 2009, 'Horas': 209805}, {'Año': 2010, 'Horas': 9405}, {'Año': 2011, 'Horas': 89230}, {'Año': 2012, 'Horas': 17913}, {'Año': 2013, 'Horas': 147123}, {'Año': 2014, 'Horas': 88193}, {'Año': 2015, 'Horas': 101777}, {'Año': 2016, 'Horas': 42802}, {'Año': 2017, 'Horas': 136}]"}

In [54]:
df_recommend = pd.read_csv('Recommend_functions.csv', low_memory= False)


def UsersRecommend(año: int):
    filtro = df_recommend[df_recommend['year'] == año]
    if len(filtro) > 1:
        recomend = filtro[filtro['recommend'] == True]
        polaridad = recomend.nlargest(3, 'polaridad').reset_index(drop= True)
        resultado = {}
        for i, row in polaridad.iterrows():
            game = "Puesto " + str(i + 1 - polaridad.index[0])
            resultado[game] = row['title']
        
        return resultado
    else:
        return {f'Año no encuentrado!'}
    
def UsersNotRecommend( año : int ):
    filtro = df_recommend[df_recommend['year'] == año]
    if len(filtro) > 1:
        recomend = filtro[filtro['recommend'] == False]
        polaridad = recomend.nsmallest(3, 'polaridad').reset_index(drop= True)
        resultado = {}
        for i, row in polaridad.iterrows():
            game = "Puesto " + str(i + 1 - polaridad.index[0])
            resultado[game] = row['title']
        
        return resultado
    else:
        return {f'Año no encuentrado!'}

In [55]:
print(UsersNotRecommend(1999))

{'Puesto 1': 'Half-Life: Opposing Force', 'Puesto 2': 'Sven Co-op', 'Puesto 3': 'Worms Armageddon'}

In [2]:
df_sentiment_analysis = pd.read_csv('sentiment_analysis_function.csv')

def sentiment_analysis( year : int ):
    filtro = df_sentiment_analysis[df_sentiment_analysis['year']== year]
    negativo = 0
    neutro = 0
    positivo = 0
    sentimentos = {}
    if len(filtro) > 0:
        negativo = filtro[filtro['significado']== 'Negativo']['significado'].count()
        neutro = filtro[filtro['significado']== 'Neutro']['significado'].count()
        positivo = filtro[filtro['significado']== 'Positivo']['significado'].count()
        sentimentos['Negative'] = negativo
        sentimentos['Neutral'] = neutro
        sentimentos['Positive'] = positivo

        return sentimentos

    
    else: 
        return {f'Año no encuentrado!'}

In [3]:
df_sentiment_analysis

       polaridad  sentimiento significado    year
0       0.174444            2    Positivo  2009.0
1       0.337500            2    Positivo  2009.0
2      -0.036111            0    Negativo  2013.0
3      -0.099500            0    Negativo  2013.0
4       0.231548            2    Positivo  2013.0
...          ...          ...         ...     ...
50658   0.142500            2    Positivo  2015.0
50659   0.087500            2    Positivo  2014.0
50660   1.000000            2    Positivo  2012.0
50661   0.650000            2    Positivo  2014.0
50662   0.650000            2    Positivo  2014.0

[50663 rows x 4 columns]

In [6]:
teste = pd.DataFrame(df_sentiment_analysis.groupby(['year', 'significado'], as_index= False)['sentimiento'].count())

In [7]:
teste

      year significado  sentimiento
0   1989.0    Positivo            1
1   1991.0    Positivo            1
2   1992.0    Positivo            2
3   1993.0    Negativo            3
4   1993.0    Positivo            1
..     ...         ...          ...
70  2016.0      Neutro          407
71  2016.0    Positivo         1349
72  2017.0    Negativo          470
73  2017.0      Neutro          502
74  2017.0    Positivo         1167

[75 rows x 3 columns]

In [148]:
filtro = teste[teste['year'] == 2000]

In [83]:
print(sentiment_analysis(1999))

{'Negative': 15, 'Neutral': 23, 'Positive': 32}

In [24]:
testepivot = pd.pivot_table(teste, columns= ['significado'], values= 'sentimiento', index= 'year', margins= False, fill_value= 0, observed= False)

In [57]:
testepivot.fillna(0, inplace= True)

In [15]:
testepivot.reset_index()

               year sentimiento
significado            Negativo  Neutro Positivo
0            1989.0         0.0     0.0      1.0
1            1991.0         0.0     0.0      1.0
2            1992.0         0.0     0.0      2.0
3            1993.0         3.0     0.0      1.0
4            1994.0         3.0     1.0      7.0
5            1995.0         2.0     1.0      0.0
6            1996.0         2.0     0.0      3.0
7            1997.0         2.0     3.0     11.0
8            1998.0        18.0    12.0     43.0
9            1999.0        15.0    23.0     32.0
10           2000.0        17.0    32.0     48.0
11           2001.0         5.0     3.0     18.0
12           2002.0         7.0     5.0     15.0
13           2003.0        43.0    41.0     66.0
14           2004.0        94.0   128.0    296.0
15           2005.0        17.0    30.0     68.0
16           2006.0       401.0   416.0   1100.0
17           2007.0        48.0    44.0    125.0
18           2008.0        56.0    59.0    161.0
19           2009.0       268.0   366.0    790.0
20           2010.0       209.0   202.0    574.0
21           2011.0       576.0   624.0   1776.0
22           2012.0      1637.0  1706.0   4094.0
23           2013.0      1466.0  1315.0   3756.0
24           2014.0      3109.0  4631.0  10355.0
25           2015.0      1230.0  1107.0   2911.0
26           2016.0       537.0   407.0   1349.0
27           2017.0       470.0   502.0   1167.0

In [25]:
testepivot.columns.name = None

In [26]:
testepivot.reset_index()

      year  Negativo  Neutro  Positivo
0   1989.0       0.0     0.0       1.0
1   1991.0       0.0     0.0       1.0
2   1992.0       0.0     0.0       2.0
3   1993.0       3.0     0.0       1.0
4   1994.0       3.0     1.0       7.0
5   1995.0       2.0     1.0       0.0
6   1996.0       2.0     0.0       3.0
7   1997.0       2.0     3.0      11.0
8   1998.0      18.0    12.0      43.0
9   1999.0      15.0    23.0      32.0
10  2000.0      17.0    32.0      48.0
11  2001.0       5.0     3.0      18.0
12  2002.0       7.0     5.0      15.0
13  2003.0      43.0    41.0      66.0
14  2004.0      94.0   128.0     296.0
15  2005.0      17.0    30.0      68.0
16  2006.0     401.0   416.0    1100.0
17  2007.0      48.0    44.0     125.0
18  2008.0      56.0    59.0     161.0
19  2009.0     268.0   366.0     790.0
20  2010.0     209.0   202.0     574.0
21  2011.0     576.0   624.0    1776.0
22  2012.0    1637.0  1706.0    4094.0
23  2013.0    1466.0  1315.0    3756.0
24  2014.0    3109.0  4631.0   10355.0
25  2015.0    1230.0  1107.0    2911.0
26  2016.0     537.0   407.0    1349.0
27  2017.0     470.0   502.0    1167.0

In [28]:
filtro = testepivot.loc[2000]

In [29]:
filtro

Negativo    17.0
Neutro      32.0
Positivo    48.0
Name: 2000.0, dtype: float64

In [23]:
filtro.to_dict()

{'Negativo': 17.0, 'Neutro': 32.0, 'Positivo': 48.0}